
 .base{
    /* margin:40px; */
    margin:2.8rem;
    height:100%;
}





.contPhoto{
    display: flex;
    flex-direction: row;
    margin:0px;
    justify-content: space-between;
    
   
    

} 
.pp{
    margin-top: 70px;
    height: 350px;
    width:400px;
    object-fit: contain;
    max-height: 400px;
    max-width:480px;
}

.photod{

    margin-left:70px;
   
}


@media (max-width: 1000px) {

    .base{
       margin-top:0;
    }
    .contPhoto {
        flex-direction: column;
        align-items: center;
       
    }

    .photod {
        margin-left: 0;
        margin-top: 20px;
       
    }

    .pp {
        /* Adjust the image size if needed */
        width: 90%; 
        height: auto;
    }

    .cont{
        order:2;
    }
}