.Basediv{
    
    /* background-color:#fff; */
    background-color: #fafafc;
    color:#1d1d1f;
    height: 100%;
    margin:0%;
    padding: 0%;
    border:0%;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


/* text color:rgb(158, 158, 158);    #295568; */ 

.Appgit {
    font-size: 1.5em;
    color: #333;
    display:flex;
    margin-left:2.8rem;
    margin-top:1.5rem;
    margin-right:1rem;
  }