.head{
    margin-left:40px;
}



.Reachout{
    margin-left :2.8%;

}

.inputBack{
    background-color: white;
    border: 0;
    border-radius:4px;
    padding-left: 5%;
}

.res{

    resize:both;
    overflow: auto;


    
}

/* .OuterDiv{

    display: flex;
    justify-content: center;
} */


.mail{
    height: 3rem;
    width:10rem;
    display: flex;
    justify-content:center;
    font-size:x-large;
    border-radius: 980px;
    background-color: #edf4ff;
    color:#0066cc;
   
}

.form{

    display: flex;
    justify-content: center;
   

}

.line{
    text-decoration: none;
}