.Navbar{
    text-decoration: none;
    
    background-color:#1d1d1f;
    
   
    /* padding-left:50%; */
    display:flex;
    justify-content: space-evenly;
   
    height:2.5rem;
    /* align-content: center; */
    align-items: center;
    color:#08494a;


  

}

.MainContainer{

    margin-left: 0%;
   
    margin:0%;
}

.navelements{
    text-decoration: none;
    /* text-decoration-line: none; */
    color: white;
}