

.baseproject{
    display:flex;
    flex-direction: column;
   

}

.headerandprojectdesc{
    margin-left:40px;
    

}




.projectItems{
    margin-top: 10px;;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 2rem;;
    
    
}

.cardDiv{
    display: flex;
    flex-direction: column;
    /* height:200px; */
    width:300px;
    justify-content: space-between;
    background-color:rgb(125, 129, 128);
   
   
}
.Photosize{

    height:250px;
    width:300px;
}
/* .namegitcontentbackcolor{
    background-color: #E1CBD7;

} */


/* .image{

} */

.nameandGit{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: #E1CBD7; */

}

.tilt-container {
    transition: transform 0.3s ease-in-out;
    
  }
  
  .tilt-container:hover {
    transform: rotate(8deg); 
  }
  


.contentp{
    margin-left: 2rem;
    margin-right: 2rem;;
}





