

.baseproject{
    display:flex;
    flex-direction: column;
    background-color:#fafafc;
   

}

.headerandprojectdesc{
    margin-left:40px;
    background-color: #fafafc;

    

}




.projectItems{
    margin-top: 10px;;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;;
    border-color:#0066cc;
    border-radius: 50px;
    max-width:fit-content;
    
    
}

.cardDiv{
    display: flex;
    flex-direction: column;

    width:300px;
    justify-content:flex-start;
    gap: 0rem;;
    background-color: #edf4ff;
   
   
}
.Photosize{

    height:250px;
    width:300px;
    object-fit: cover;
    
}
/* .namegitcontentbackcolor{
    background-color: #E1CBD7;

} */


/* .image{

} */

.nameandGit{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 1rem;
    color:#678cb2;
    
   
    
    /* background-color: #E1CBD7; */

}

/* .tilt-container {
    transition: transform 0.3s ease-in-out;
    
  }
  
  .tilt-container:hover {
    transform: rotate(8deg); 
  } */
  


.content{
    display: flex;
    justify-content: center;
    margin:1rem;
    
    
}


.gitsym{
    margin-top: 0.2rem;;
   
    
}


.gitAdjust{
    display: flex;
    justify-content: flex-end;
   

}
