.skillhead
{
margin-left:40px;}


.casediv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
    min-margin-left:2rem;
   
    
    justify-content: space-around;
    
}

.lang{
     
}

.web{
 

}

.data{
 

}
.devtools{
 

}

.row1{
    display:flex;
    flex-direction: display;
    gap: 2rem;
    margin-bottom: 2rem;

}

.row2{
    display:flex;
    flex-direction: display;
    gap: 2rem;
    margin-bottom: 2rem;

    
}

.row3{
    display:flex;
    flex-direction: display;
    gap: 2rem;
    margin-bottom: 2rem;
    
}


@media (max-width: 600px) {


.casediv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    column-gap: 3rem;
    /* margin-left:9rem; */
    max-width:fit-content;
    margin: 0 auto; 
    
    justify-content: space-around;
}



}

@media (max-width: 1250px) and( min-width:601px) {


    .casediv{
        
        margin: 2.8rem; 
        
        
    }
    
    
    
    }


/* .projectItems{
    margin-top: 10px;;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;;
   
    max-width:fit-content;
     */